<main class="mainBlog">
    <div class="mainBlog__head">
        <div class="container">
            <h1 class="head__h1">News About Lian</h1>
            <span class="head__subtitle">Latest News & Insights</span>
        </div>
    </div>
    <div class="blogBlock">
        <div class="container">
            <div class="blog__elements">
                <div class="blog__column">
                    <div class="blog__post">
                        <div class="blog__post-text">
                            <span class="blog__post-category">wordpress</span>
                            <h2 class="blog__post-head">I am a Blog Post Title</h2>
                            <span class="blog__post-author">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#user"></use>
                                </svg>
                                by Jenn Pereira
                            </span>
                            <p class="blog__post-preview">Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris. Etiam facilisis eu nisi scelerisque faucibus...</p>
                            <span class="blog__post-data">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#calendar"></use>
                                </svg>
                                on July 19, 2016
                            </span>
                            <div class="blog__post-buttons">
                                <a class="postButton__share" href="#">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#share"></use>
                                    </svg>
                                </a>
                                <a href="#" class="postButton__like">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#likeblackheart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog__post">
                        <img src="images/23.jpg" alt="23">
                        <div class="blog__post-text">
                            <h2 class="blog__post-head">I am a Blog Post Title Awesome Image</h2>
                            <span class="blog__post-author">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#user"></use>
                                </svg>
                                by Jenn Pereira
                            </span>
                            <p class="blog__post-preview">Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper...</p>
                            <span class="blog__post-data">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#calendar"></use>
                                </svg>
                                on July 19, 2016
                            </span>
                            <div class="blog__post-buttons">
                                <a class="postButton__share" href="#">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#share"></use>
                                    </svg>
                                </a>
                                <a href="#" class="postButton__like">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#likeblackheart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog__post">
                        <div class="blog__post-text blog__postBg">
                            <span class="blog__post-category">wordpress</span>
                            <h2 class="blog__post-head">I am a Blog Post Title</h2>
                            <span class="blog__post-author">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#user"></use>
                                </svg>
                                by Jenn Pereira
                            </span>
                            <p class="blog__post-preview">Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper...</p>
                            <span class="blog__post-data">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#calendar"></use>
                                </svg>
                                on July 19, 2016
                            </span>
                            <div class="blog__post-buttons">
                                <a class="postButton__share" href="#">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#share"></use>
                                    </svg>
                                </a>
                                <a href="#" class="postButton__like">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#likeblackheart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__column">
                    <div class="blog__post">
                        <img src="images/clock.jpg" alt="clock">
                        <div class="blog__post-text">
                            <h2 class="blog__post-head">I am a Blog Post Title Awesome Image</h2>
                            <span class="blog__post-author">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#user"></use>
                                </svg>
                                by Jenn Pereira
                            </span>
                            <p class="blog__post-preview">Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper...</p>
                            <span class="blog__post-data">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#calendar"></use>
                                </svg>
                                on July 19, 2016
                            </span>
                            <div class="blog__post-buttons">
                                <a class="postButton__share" href="#">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#share"></use>
                                    </svg>
                                </a>
                                <a href="#" class="postButton__like">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#likeblackheart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog__video">
                        <img src="images/video.jpg" alt="#">
                    </div>
                    <div class="blog__post">
                        <img src="images/matches.jpg" alt="23">
                        <div class="blog__post-text">
                            <h2 class="blog__post-head">I am a Blog Post Title Awesome Image</h2>
                            <span class="blog__post-author">
                                <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/svg/svg-symbols.svg#user"></use>
                                </svg>
                                by Jenn Pereira
                            </span>
                            <p class="blog__post-preview">Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper...</p>
                            <div class="blog__postFooter">
                                <span class="blog__post-data">
                                    <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#calendar"></use>
                                    </svg>
                                    on July 19, 2016
                                </span>
                                <div class="blog__post-buttons">
                                    <a class="postButton__share" href="#">
                                        <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/svg/svg-symbols.svg#share"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="postButton__like">
                                        <svg class="site-icon blog__post-icon" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/svg/svg-symbols.svg#likeblackheart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="blog__column blog__aside">
                    <form action="#" method="get" class="aside__formSearch">
                        <input name="s" placeholder="Search" type="text" class="formSearch__input">
                        <button type="image" class="formSearch__button">
                            <svg class="site-icon formSearch__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#search"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="aside__recentPosts">
                        <h2 class="aside__head">Recent Posts</h2>
                        <div class="recentPosts__items">
                            <div class="recentPosts__item">
                                <a href="#"><img src="images/1.jpg" alt="#"></a>
                                <div class="recentPosts__item-text">
                                    <h3 class="recentPosts__item-head">Lorem ipsum dolor sit amet, consec</h3>
                                    <span class="recentPosts__item-data">July 5, 2016</span>
                                </div>
                            </div>
                            <div class="recentPosts__item">
                                <a href="#"><img src="images/2.jpg" alt="#"></a>
                                <div class="recentPosts__item-text">
                                    <h3 class="recentPosts__item-head">Ut wisi enim ad minim veniam, quis</h3>
                                    <span class="recentPosts__item-data">July 17, 2016</span>
                                </div>
                            </div>
                            <div class="recentPosts__item">
                                <a href="#"><img src="images/3.jpg" alt="#"></a>
                                <div class="recentPosts__item-text">
                                    <h3 class="recentPosts__item-head">Aliquip ex ea commodo aliquam erat volutpat</h3>
                                    <span class="recentPosts__item-data">July 21, 2016</span>
                                </div>
                            </div>
                            <div class="recentPosts__item">
                                <a href="#"><img src="images/4.jpg" alt="#"></a>
                                <div class="recentPosts__item-text">
                                    <h3 class="recentPosts__item-head">Ut wisi enim ad minim veniam, quis</h3>
                                    <span class="recentPosts__item-data">July 17, 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside__tags">
                        <h2 class="aside__head">Popular tags</h2>
                        <div class="tags__items">
                            <a href="#">construction</a>
                            <a href="#">engineering</a>
                            <a href="#">architecture</a>
                            <a href="#">structural design</a>
                            <a href="#">civil engineer</a>
                            <a href="#">industrial</a>
                            <a href="#">management</a>
                            <a href="#">mechanical</a>
                        </div>
                    </div>
                    <div class="aside__instagram">
                        <h2 class="aside__head">Instagram</h2>
                        <div class="instagram__img">
                            <img src="images/instagram.png" alt="#">
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>