<footer class="foot">
    <a href="index.html"><img src="images/logo.png" alt="lian"></a>
    <div class="footSocialBtn">
        <a href="#"><img src="img/fb.png" alt="#"></a>
        <a href="#"><img src="img/google.png" alt="#"></a>
        <a href="#"><img src="img/tv.png" alt="#"></a>
        <a href="#"><img src="img/in.png" alt="#"></a>
        <a href="#"><img src="img/p.png" alt="#"></a>
        <a href="#"><img src="img/ball.png" alt="#"></a>
        <a href="#"><img src="img/insta.png" alt="#"></a>
    </div>
    <small>&#169; 2016 <span>Mulitix Theme</span> by ThemeForces. All Rights Reserved.</small>
</footer>
</body>
</html>