<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lian</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,address=no">
    <meta name="theme-color" content="#4285f4">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <div class="container">
        <div class="headItems">
            <a class="headItems__logo" href="index.html"><img src="images/logo.png" alt="lian"></a>
            <span class="headItems__nav-btn">menu</span>
            <nav class="headItems__nav" id="nav">
                <a href="index.html">home</a>
                <a href="about.html">about</a>
                <a href="portfolio.html">portfolio</a>
                <a href="blog.html">blog</a>
                <a href="contact.html">contact</a>
                <a href="#">&#128269;</a>
            </nav>
        </div>
    </div>
</header>
