<main class="mainPortfolio">
    <div class="mainPortfolio__head">
        <div class="container">
            <h1 class="head__h1">LATEST PROJECTS</h1>
            <span class="head__subtitle">We Deliver Quality</span>
        </div>
    </div>
    <nav class="portfolioNav">
        <a href="#">all</a>
        <a href="#">logo</a>
        <a href="#">mobile app</a>
        <a href="#">wordpress</a>
        <a href="#">web design</a>
        <a href="#">ui/ix</a>
        <a href="#">branding</a>
    </nav>
    <div class="container">
        <div class="portfolioImg">
            <div class="portfolioImg__block">
                <a href="#"><img src="images/23.jpg" alt="23"></a>
                <a href="#"><img src="images/lamp.jpg" alt="lamp"></a>
                <a href="#"><img src="images/tableware.jpg" alt="tableware"></a>
            </div>
            <div class="portfolioImg__block portfolioImg__center">
                <a href="#"><img src="images/three-objects.jpg" alt="three-objects"></a>
                <a href="#"><img src="images/clock.jpg" alt="three-objects"></a>
                <a href="#"><img src="images/chair.jpg" alt="three-objects"></a>
                <a href="#"><img src="images/wall-clock.jpg" alt="three-objects"></a>
            </div>
            <div class="portfolioImg__block">
                <a href="#"><img src="images/round-tables.jpg" alt="round-tables"></a>
                <a href="#"><img src="images/corinne.jpg" alt="round-tables"></a>
                <a href="#"><img src="images/dore.jpg" alt="round-tables"></a>
            </div>
        </div>
        <div class="buttonLogin">
            <a href="#"> Login/signup</a>
        </div>
    </div>
</main>