<main class="mainPortfolioDetails">
    <div class="mainPortfolio__head">
        <div class="container">
            <h1 class="head__h1">LATEST PROJECTS</h1>
            <span class="head__subtitle">We Deliver Quality</span>
        </div>
    </div>
    <div class="container">
        <div class="portfolioDetails__nav">
            <div class="portfolioDetails__navPages">
                <div class="navPages__previous">
                    <a href="#">
                        <svg class="site-icon navPages__previous-icon" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#arrow-right"></use>
                        </svg>
                        <span>Previous</span>
                    </a>
                </div>
                <div class="navPages__next">
                    <a href="#">
                        <span>next</span>
                        <svg class="site-icon navPages__next-icon" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="navAllPages">
                <a href="#">
                    <svg class="site-icon navAllPages-icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#list-symbol"></use>
                    </svg>
                    All pages</a>
            </div>
        </div>
    </div>
    <div class="mainPortfolioDetails__content">
        <div class="container">
            <div class="detailsContent__items">
                <div class="detailsContent__img">
                    <div class="detailsContent__img-general">
                        <img src="images/details-lamp.jpg" alt="details-lamp">
                    </div>
                    <div class="detailsContent__img-mini">
                        <div class="imgMini">
                            <img src="images/details-lamp-mini.jpg" alt="#">
                        </div>
                        <div class="imgMini">
                            <img src="images/tableware-mini.jpg" alt="#">
                        </div>
                        <div class="imgMini">
                            <img src="images/clock-mini.jpg" alt="#">
                        </div>
                        <div class="imgMini">
                            <img src="images/tabls-mini.jpg" alt="#">
                        </div>
                    </div>
                </div>
                <div class="detailsContent__text">
                    <h2 class="contentText__head">Pereira Creative Agency</h2>
                    <span class="contentText__subtitle">Branding Design</span>
                    <span class="contentText__data">February 28, 2015</span>
                    <div class="contentText__like">
                        <img class="contentText-icon" src="img/heart_icon.png" alt="#">
                        <span>324 likes</span>
                    </div>
                    <p class="contentText__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                    <div class="contentText__role">
                        <h3>Role On Project:</h3>
                        <span>Project Designer, Lead Designer, Markerting Head</span>
                        <h3>tags</h3>
                        <span>Mobile App, UI/UX design</span>
                    </div>
                    <div class="contentText__share">
                        <a class="share__button" href="#">
                            <img src="img/share-icon.png" alt="#">
                            share
                        </a>
                        <div class="share__social">
                            <a href="#"><img src="img/fb.png" alt="#"></a>
                            <a href="#"><img src="img/google.png" alt="#"></a>
                            <a href="#"><img src="img/tv.png" alt="#"></a>
                            <a href="#"><img src="img/in.png" alt="#"></a>
                            <a href="#"><img src="img/p.png" alt="#"></a>
                            <a href="#"><img src="img/ball.png" alt="#"></a>
                            <a href="#"><img src="img/insta.png" alt="#"></a>
                            <img class="share__social-arrowLeft" src="img/arrow-left.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailsContent__related">
                <h2 class="detailsContent__related-head">Related Works</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br>euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <div class="detailsContent__relatedImg">
                    <a href="#"><img src="images/details-stool.jpg" alt="details-stool"></a>
                    <a href="#"><img src="images/details-lamp2.jpg" alt="details-stool"></a>
                    <a href="#"><img src="images/details-tables.jpg" alt="details-tables"></a>
                </div>
            </div>
        </div>
    </div>
</main>