.mainBlog__head{
    background-image: url("../images/bg-blog.jpg");
    background-position: center;
    text-transform: uppercase;
    min-height: 348px;
}

.blogBlock{
    background-color: #fafafa;
    padding: 50px 0;
}

.blog__elements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__column{
    margin: 10px 0;
    flex-basis: calc(33% - 20px);
}

.blog__post-text{
    background-color: #fff;
    padding: 40px 30px;
    margin-bottom: 30px;
}

.blog__post-category{
    background-color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    color: #ffffff;
    margin-bottom: 20px;
    display: inline-block;
}

.blog__post-head{
    font-size: 1.6em;
    margin-bottom: 10px;
    font-weight: 700;
}

.blog__post-icon{
    fill: #CCCCCC;
    margin-right: 5px;
}

.blog__post-author{
    color: #CCCCCC;
    display: flex;
    align-items: center;
}

.blog__post-preview{
    color: #777777;
    line-height: 1.5;
    margin: 40px 0;
}

.blogFooter__data{
    color: #CCCCCC;
    display: inline-flex;
    align-items: center;
}

.blog__post-buttons{
    display: inline-block;
    margin-left: 80px;
}

.blog__post-buttons .blog__post-icon:last-child{
    margin-left: 15px;
}

.blog__postBg{
    background-image: url("../images/bg-post.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

.blog__video{
    margin-bottom: 20px;
}

.aside__formSearch{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 15px 10px 5px;
    margin-bottom: 20px;
}

.formSearch__input{
    flex-grow: 1;
    border: none;
    padding-left: 15px;
}

.formSearch__button{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #999999;
    height: 30px;
    width: 30px;
}

.formSearch__icon{
    fill: #ffffff;
}

.recentPosts__items{
    background-color: #fff;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
}

.recentPosts__item{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.aside__head{
    text-transform: uppercase;
    text-align: center;
    color: #1d1d1d;
    font-size: 1.2em;
    letter-spacing: 6px;
    padding: 10px 0;
    background-color: #ededed;
}

.recentPosts__item-text{
    margin-left: 15px;
    max-width: 205px;
}
/*
.recentPosts__item img{
    width: 90px;
    height: 65px;
}*/

.recentPosts__item-head{
    font-weight: 700;
    margin-bottom: 15px;
}

.recentPosts__item-data{
    color: #CCCCCC;
}

.tags__items{
    padding: 40px 15px;
    background-color: #fff;
}

.tags__items a{
    color: #CCCCCC;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
}

.tags__items a:nth-child(4){
    background-color: #000000;
    color: #ffffff;
}

.instagram__img{
    background-color: #fff;
    padding: 20px 10px 20px 15px;
}